<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">

        <div class="card-body">
        <%= form_with(model: post) do |form| %>
          <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        
              <ul>
                <% post.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        
    
          <div class="mx-auto" style="width: 180px;">
          Create a new post!
            </div>
            <%= form.text_area :post, class: "form-control form-control-lg" %>

          
            <div class="mx-auto" style="width: 200px;">
                  Select a group (or not!)
            </div>

            <div align="center">
            <%= arr = [nil]
            for i in Group.all.ids
              arr.push(i)
            end
            form.select :group_id, arr %>
          </div>
          <br>
          <div align="center"> 
            <%= form.submit class:"btn btn-primary"%>
          </div>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>