<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
<%= link_to "Yatube", root_path, class: "navbar-brand"%>
<nav class="my-2 my-md-0 mr-md-3">
<% if user_signed_in? %>
                        <p>
							<strong> Пользователь: <%= current_user.name %></strong>
							<small><%= current_user.username %></small>
						</p>
                        
<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn" %>
<%= link_to "New Post", new_post_path, :class => "btn" %>
<%= link_to "Change your personal info", edit_user_registration_path, :class => "btn" %>
<% else %>
<%= link_to "Sign in", new_user_session_path, :class => "p-2 text-dark" %>
<%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
</nav>
</nav> 